.App{
    background: linear-gradient(150deg, #ffffff 90%, #ffffff 50%, #0057d0fb 10%);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.main-content{
    display: grid;
    background :linear-gradient(150deg, #4E5180, #4E5180 , #4E5180 );
    border-radius: 2rem;
    height: 95%;
    width: 95%;
    overflow: hidden;
    grid-template-columns: 11rem auto 20rem;
    color: #ffffff;
    gap: 0.5rem;
    padding: 1rem;

}
.left-container{
    background :linear-gradient(150deg, #373fb1, #373fb1 , #373fb1 );
    border-radius: 1.5rem;
    height: 95vh;
}
.main-content .nav-search{
    padding: 1rem;
    display: flex;
    width: 100%;
    height:10vh;
    align-items: center;
    justify-content: center;
    
}
.main-content .nav-search > input{
    border-radius: 2rem;
    border-style: dotted;
    width: 90%;
    font-size: medium;
    padding: 1rem;
    height:15px
}
.menus{
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.menu-item{
    display: flex;
    color: #ffffff;
    transition: all 300ms ease-in;
    align-items: center;
    height:2rem;
    position: relative;
    border-radius: 2rem;
    margin-left: 1rem;
}
.menu-item > span{
margin-left: 1rem;
}
.menu-item:hover{
    cursor: pointer;
    background-color: aqua;
}
.logo{
    height:20%;
    align-items: center;
    justify-content: center;
}
.logo-text{
    margin-top: 0px;
    height:100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.logo-text > img{
    padding: 0px;
    height:100px;
    align-items: center;
    justify-content: center;
    }
.right-container{
    border-radius: 1.5rem;
    height: 100vh;
    margin-top: 0px;
    }
.user-infocard{
    background-color: #373fb1;
    border-radius: 1.5rem;
    height: 5vh;  
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;

}
.action-pane-one{
    background-color: #C12267;
    border-radius: 1.5rem;
    height: 20vh;  
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 10%; 
    padding: 1rem;
}
.action-pane-one > h3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.action-pane-two{
    background-color: #C12267;
    border-radius: 1.5rem;
    height: 30vh;  
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 10%; 
    padding: 1rem;
}
.action-pane-two > h3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.action-pane-three{
    background-color: #f2f2f2;
    border-radius: 1.5rem;
    height: 15vh;  
    margin-top: 10px;
    color:black;
    display: flex;
    flex-direction: column;
    margin-left: 10%; 
    padding: 1rem;
}
.action-pane-three > h3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-cards-container{
    height: 30vh;
    margin-top: 0px;
    display: flex;
  justify-content: center;

}
.main-cards{
    background-color: #00d9ff;
    display: flex;
    width:30vh;
    margin-left: 1rem;
    border-radius: 1.5rem;
    gap:2rem;
    padding: 1rem;
    box-shadow: 5px 5px #373fb1;
}
.table{
    width:100vh;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}